/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--donkerrood: #5b1028;
    --cream: #f4e3d4;
    --light-bg: #f7f7f7;
    --text: #261313;
    --accent: #c99a6b;
    --radius-lg: 18px;
}











.hero {
  min-height: 20em;
  min-width: 350px;
  background-image: url("../images/Costa-club-Hero-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--donkerrood);
}

.sectie1 {
  background: #f1e2d5;
  margin: -80px auto 0; /* kaart schuift bovenop de afbeelding */
  padding: 40px 30px;
  width: 85%;
  border-radius: 24px;
  text-align: center;
  position: relative;
  z-index: 2; /* boven de afbeelding */
  display: grid;
}

@media (min-width:90em) {
  .hero{
	min-height: 500px;
	

  }
}



/************/
/* SECTIONS */
/************/
section {
    background: var(--donkerrood);
    padding: 1.5rem 1rem 2rem;
    text-align: center;
}


.cream-kleur-secties {
	display: grid;
    background: var(--cream);
    border-radius: var(--radius-lg);
    padding: 1.5rem 1.25rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	color: var(--text);
    }



.eerste-knop {
	justify-self: center;
    background: var(--donkerrood);
    color: #ffffff;
    padding: 0.8em 0.8em;
    border-radius: 1em;
    text-decoration: none;
}

.open-secties {
    padding: 1.75rem 1rem 0.5rem;
    background: #ffffff;
}

section:nth-child(1) {
   position:relative;
}

